.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  background: transparent;
  font-size: var(--fs-text-lg);
  padding: 0 1rem 0 3rem;
  outline: none;
  color: var(--color-text);
  cursor: pointer;
  box-sizing: border-box;
  line-height: 1.2;
  min-height: 64px;

  @media (--sm-scr) {
    font-size: var(--fs-text-md);
  }
}

.searchInput::placeholder {
  color: var(--color-text);
  font-size: var(--fs-text-lg);
  opacity: 0.6;
}

.searchIcon {
  position: absolute;
  left: 1rem;
  width: 20px;
  height: 20px;
  color: var(--color-text);
  opacity: 0.6;
  pointer-events: none;
}

@media (max-width: 768px) {
  .wrapper {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .searchContent {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  .searchIcon {
    position: static;
    flex-shrink: 0;
  }

  .searchInput {
    text-align: left;
    padding: 0 1rem 0 0.5rem;
    border: none;
    background: transparent;
    outline: none;
    font-size: inherit;
    color: inherit;
    width: 250px;
  }

  .searchInput::placeholder {
    text-align: left;
  }
}

.mobileKeyCombination {
  position: absolute;
  right: var(--m-1-5);
  padding: 6px var(--m-1-5);
  border-radius: 6px;
  background-color: var(--color-tonal-neutral-0);
  border: 1px solid var(--color-tonal-neutral-2);
  line-height: 1.42857;
  font-size: var(--fs-text-md);
  letter-spacing: 0.035px;
}

.askAIButton {
  background-color: var(--color-tonal-neutral-0);
  color: var(--color-foreground-slightly-muted);
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  gap: 0.75rem; /* 12px; */
  border-radius: var(--m-0-5);
  border: none;
  padding: var(--m-1);
  transition: background-color 0.2s ease-in-out;
  span {
    display: none;
    padding: 0 !important;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-tonal-neutral-1);
  }

  @media (--nav) {
    padding: 0.75rem var(--m-3);
    span {
      display: block;
      white-space: nowrap;
      padding: 0.75rem var(--m-3);
    }
  }
}
