.dropdown {
  position: relative;
  .dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--m-0-5);
    visibility: hidden;
    height: 0;
    position: absolute;
    top: 90%;
    left: 0;
    background-color: var(--color-white);
    border-radius: var(--m-1);
    min-width: 160px;
    padding: var(--m-1-5);
    box-shadow: var(--shadow-10);
  }
  .caretUp {
    margin-left: var(--m-1);
    transform: rotate(180deg);
    transition: transform var(--t-fast) ease-in-out;
  }
  &:hover:not(:has(.modal:hover)),
  &:focus-within,
  &.dropdownOpen {
    .caretUp {
      transform: rotate(0deg);
    }
    .dropdownMenu {
      visibility: visible;
      height: auto;
    }
    .navLink {
      color: var(--color-dark-purple);
    }
  }
  .dropdownButton {
    color: var(--color-foreground-slightly-muted);
    display: flex;
    align-items: center;
    background-color: unset;
    border: unset;
    font-size: var(--fs-text-lg);
    letter-spacing: 0.024px;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    font-weight: var(--fw-medium);

    & > svg {
      min-width: var(--m-2);
      min-height: var(--m-2);
      margin-right: var(--m-1);
    }
  }
}

.dropdownItem {
  position: relative;
  display: flex;
  align-items: center;
  background-color: unset;
  border: unset;
  font-weight: var(--fw-medium);
  min-height: 28px;
  column-gap: var(--m-0-5);
  padding: var(--m-0-5) var(--m-1) var(--m-0-5) var(--m-0-5);
  & > a,
  & > button {
    padding: var(--m-0-5) var(--m-1) var(--m-0-5) var(--m-0-5);
    color: var(--color-black) !important;
    white-space: nowrap;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .dropdownItemIcon {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin: var(--m-0-5);
    path {
      fill: var(--color-black);
    }
  }
}
