.pageActions {
  display: flex;
  gap: var(--m-3);
  padding: var(--m-1-5) 0;
  border-bottom: 1px solid var(--color-tonal-neutral-2);
  margin-bottom: var(--m-5);

  & > * {
    &:not(:nth-last-child(2)) {
      &::after {
        content: "";
        position: relative;
        transform: translateX(var(--m-1-5));
        width: 1px;
        height: 100%;
        background-color: var(--color-tonal-neutral-1);
      }
    }
  }

  @media (--lg-scr) {
    gap: var(--m-4);
    margin-bottom: var(--m-6);
    & > * {
      &:not(:last-child) {
        &::after {
          content: "";
          position: relative;
          transform: translateX(var(--m-2));
          width: 1px;
          height: 100%;
          background-color: var(--color-tonal-neutral-1);
        }
      }
    }
  }
}

.askAIButton {
  background-color: unset;
  border: unset;
  position: relative;

  span {
    width: 100%;
    text-align: left;
  }
}

.githubLink,
.askAIButton,
.feedback {
  color: var(--color-foreground-slightly-muted);
  display: flex;
  align-items: center;
  font-size: var(--fs-text-md);
  letter-spacing: 0.024px;
  line-height: 1.625;
  margin: 0;
  padding: 0;
  font-weight: var(--fw-medium);

  & > svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    margin-right: var(--m-0-5);
    & > path {
      fill: var(--color-foreground-muted);
    }
  }

  @media (--xs-scr) {
    width: auto;
    height: auto;
  }

  @media (--md-scr) {
    line-height: 1.75;
  }
}

.githubLink,
.askAIButton {
  &:hover {
    color: var(--color-black);
    text-decoration: underline;
    cursor: pointer;
  }
}
