.skillsBanner {
  padding: var(--m-2);
  background-color: var(--color-background-depth-2);
  border-radius: var(--m-1-5);
  border: 1px solid var(--color-tonal-neutral-0);
  display: flex;
  flex-direction: column;
  gap: var(--m-2);
  align-items: flex-start;
  margin-bottom: var(--m-2);

  @media (--md-scr) {
    padding: var(--m-2) var(--m-3);
    margin-bottom: var(--m-3);
  }
}

.skillBadge {
  background-color: var(--color-interactive-tonal-success-0);
  color: var(--color-interactive-success-default);
  border-color: var(--color-interactive-success-default);
  margin-left: 0;

  svg {
    path {
      fill: var(--color-interactive-success-default);
    }
  }
}

.title {
  font-size: var(--fs-text-xl);
  margin-bottom: var(--m-0-5);
}

.description {
  font-size: var(--fs-text-lg);
  p {
    margin-bottom: unset;
  }
}

.actions {
  display: flex;
  gap: var(--m-1);

  .button {
    font-size: var(--fs-text-sm);
    display: flex;
    align-items: center;
    gap: var(--m-1);

    &:last-child {
      color: var(--color-foreground-muted);

      svg {
        path {
          fill: var(--color-foreground-muted);
        }
      }
      &:hover {
        color: var(--color-white);
        svg {
          path {
            fill: var(--color-white);
          }
        }
      }
    }
  }
}
