.enterpriseFeatureCallout {
  border: 1px solid var(--color-tonal-primary-0);
  border-left: 3px solid var(--color-tonal-primary-0);
  background-color: var(--color-background-depth-2);
  padding: var(--m-2) var(--m-3);
  border-radius: var(--m-1);
  display: flex;
  align-items: center;
  gap: var(--m-1-5);
  font-size: var(--fs-text-md);
  color: var(--color-foreground-slightly-muted);
  line-height: 1.57143;

  .title {
    font-size: var(--fs-text-xl);
    font-weight: var(--fw-bold);
    margin: 0;
    color: var(--color-dark-purple);
    line-height: 1.333;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: underline;
  }
}
