.docsNavigation {
  display: none;
  position: fixed;
  top: var(--ifm-navbar-height);
  background-color: var(--color-white);
  z-index: 2;
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid var(--color-tonal-neutral-0);
  @media (--md-scr) {
    position: sticky;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }

    &.open {
      height: auto;
    }
  }
  &.open {
    max-height: 80dvh;
    overflow-y: scroll;
    height: max-content;
    border-bottom: 1px solid var(--color-tonal-neutral-1);
  }

  .mobileNavToggle {
    background-color: var(--color-tonal-neutral-0);
    border: unset;
    border-radius: 4px;
    padding: 6px 8px;
    position: absolute;
    top: 0.5rem;
    left: 1rem;

    @media (--md-scr) {
      display: none;
    }
  }

  .mobileActiveLabel {
    color: var(--color-dark-purple);
    font-weight: var(--fw-bold);
    font-size: 13px;
    padding: 14px 0px 14px 64px;
    margin-bottom: 0;
    line-height: 1.539;
    &.hidden {
      display: none;
    }
    @media (--md-scr) {
      display: none;
    }
  }

  .navList {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    visibility: hidden;
    height: 0;

    @media (--md-scr) {
      width: max-content;
      flex-direction: row;
      margin: 0 26px;
      height: auto;
      visibility: visible;
    }

    &.open {
      visibility: visible;
      height: auto;
      padding-block: 14px;
    }

    .navLink {
      display: flex;
      align-items: center;
      position: relative;
      padding: 14px 0;
      margin-left: 64px;
      color: var(--color-black);
      font-size: 13px;
      text-decoration: none;
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;

      &::after {
        display: none;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: transparent;
        transition: background-color var(--t-fast);
      }

      &.active {
        color: var(--color-dark-purple);
        font-weight: var(--fw-bold);

        &::after {
          background-color: var(--color-dark-purple);
        }
      }

      &:hover {
        color: var(--color-dark-purple);
      }

      @media (--md-scr) {
        font-size: var(--fs-text-md);
        padding: var(--m-1-5) 16px;
        margin-left: unset;
        &::after {
          display: block;
        }
      }
    }
  }
}
