.enterpriseFeatureBadge {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: var(--color-tonal-primary-1);
  color: var(--color-dark-purple);
  border-radius: var(--m-3);
  padding: var(--m-0-5) var(--m-2);
  font-size: var(--fs-text-md) !important;
  font-weight: var(--fw-regular);
  margin-left: var(--m-1);
  line-height: 1.57143;

  &:hover {
    cursor: pointer;
  }

  svg {
    min-width: var(--m-1-5);
    margin-right: var(--m-1);
  }

  .modal {
    position: fixed;
    z-index: 1;
    background-color: var(--color-background-depth-2);
    border-radius: var(--m-1);
    padding: var(--m-3);
    max-width: 336px;
    min-width: 336px;
    min-height: 100px;
    font-size: var(--fs-text-md);
    color: var(--color-foreground-slightly-muted);
    line-height: 1.57143;
    box-shadow:
      0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    display: none;

    &:hover {
      cursor: default;
    }

    p {
      margin-bottom: var(--m-1);
    }

    .modalTitle {
      font-size: var(--fs-text-xl);
      font-weight: var(--fw-bold);
      color: var(--color-dark-purple);
    }

    &.modalVisible {
      display: block;
    }

    .modalActions {
      display: flex;
      align-items: center;
      gap: var(--m-1);

      .upsellLink {
        font-size: var(--fs-text-sm);
        padding: var(--m-1) var(--m-2);
        height: auto;
        line-height: 1.333;
      }
    }
  }
}
