.backButton {
  position: absolute;
  top: 0;
  display: flex;
  transform: translateY(-100%);
  align-items: center;
  justify-content: center;
  gap: var(--m-1);
  font-size: var(--fs-text-lg);
  color: var(--color-foreground-slightly-muted);
  margin-bottom: 0;
  background-color: transparent;
  border-radius: var(--m-0-5);
  padding: 0;
  margin: 0;
  background-color: var(--color-tonal-neutral-0);
  width: var(--m-4);
  height: var(--m-4);
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: var(--ifm-menu-link-sublist-icon);
    background-repeat: no-repeat;
    background-position: center;
    transform: none;
    transform: rotate(90deg);
  }

  span {
    visibility: hidden;
    width: 0;
  }
}
