.annotationMarker {
  background-color: transparent !important;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  display: inline-flex;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 2px);
    height: 1.5em;
    border-radius: var(--m-0-5);
    background-color: var(--color-interactive-tonal-alert-0);
    border: 1px solid var(--color-interactive-tonal-alert-2);
    transition: all 0.2s ease-in-out;
  }

  &:hover,
  &.annotationMarkerHovered {
    cursor: pointer;

    &::after {
      background-color: var(--color-interactive-tonal-alert-2);
      border-color: var(--color-interactive-alert-default);
    }
  }

  p {
    display: inline;
  }

  li {
    background-color: var(--color-interactive-tonal-alert-0);
    width: fit-content;
    transition: background-color 0.2s ease-in-out;
  }
}

.annotationText {
  position: absolute;
  padding: var(--m-3);
  max-width: 450px;
  background-color: var(--color-background-depth-2);
  outline: 1px solid var(--color-tonal-neutral-0);
  border-left: 4px solid transparent;
  color: var(--color-foreground-slightly-muted);
  border-radius: var(--m-1);
  line-height: 1.625;
  outline-offset: -2px;
  width: calc(100% - var(--m-4));
  transition:
    transform 0.1s ease-in-out,
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    outline 0.2s ease-in-out;

  &:hover,
  &.annotationTextHovered {
    border-left-color: var(--color-interactive-alert-default);
    box-shadow: var(--lp-box-shadow);
    cursor: pointer;
    background-color: var(--color-white);
    transform: translateX(-16px);
  }

  .annotationTitle {
    font-weight: var(--fw-bold);
    font-size: var(--fs-header-4);
    color: var(--color-black);
  }
}

.annotationTextMobile {
  position: fixed;
  top: 100%;
  left: var(--m-2);
  z-index: 1;
  max-width: calc(100vw - var(--m-4));
  border: none;
  width: 100vw;
  border-left: 4px solid var(--color-interactive-alert-default);
  transition: opacity 0.2s ease-in-out;

  &:hover,
  &.annotationTextHovered {
    transform: none;
  }
}
