@keyframes slideAndExpand {
  0% {
    transform: translateX(0);
    border-left-width: 1px;
    border-left-color: var(--color-tonal-neutral-0);
    background-color: var(--color-background-depth-2);
    box-shadow: none;
  }
  100% {
    transform: translateX(-16px);
    border-left-width: 4px;
    border-left-color: var(--color-interactive-alert-default);
    background-color: var(--color-white);
    box-shadow: var(--lp-box-shadow);
  }
}

@keyframes expandContent {
  0% {
    max-height: 3.25em;
  }
  100% {
    max-height: 1000px;
  }
}

.annotationMarker {
  background-color: transparent !important;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  display: inline-flex;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 2px);
    height: 1.5em;
    border-radius: var(--m-0-5);
    background-color: var(--color-interactive-tonal-alert-0);
    border: 1px solid var(--color-interactive-tonal-alert-2);
    transition: all 0.2s ease-in-out;
  }

  &:hover,
  &.annotationMarkerHovered {
    cursor: pointer;

    &::after {
      background-color: var(--color-interactive-tonal-alert-2);
      border-color: var(--color-interactive-alert-default);
    }
  }

  p {
    display: inline;
  }

  li {
    background-color: var(--color-interactive-tonal-alert-0);
    width: fit-content;
    transition: background-color 0.2s ease-in-out;
  }
}

.annotationText {
  position: absolute;
  padding: var(--m-3);
  max-width: 450px;
  background-color: var(--color-background-depth-2);
  border: 1px solid var(--color-tonal-neutral-0);
  border-radius: var(--m-1);
  line-height: 1.625;
  width: calc(100% - var(--m-4));

  .annotationTitle {
    font-weight: var(--fw-bold);
    font-size: var(--fs-header-4);
    color: var(--color-black);
  }

  .annotationTextContent {
    color: var(--color-foreground-muted);
    transition: color 0.2s ease-in-out;
    @media (--md-scr) {
      overflow: hidden;
      display: -webkit-box;
      width: 100%;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 3.25em;
    }
  }

  &:hover,
  &.annotationTextHovered {
    border-color: transparent;
    cursor: pointer;
    animation: slideAndExpand 0.15s ease forwards;

    .annotationTextContent {
      color: var(--color-foreground-slightly-muted);
      -webkit-line-clamp: unset;
      line-clamp: unset;
      animation: expandContent 0.6s ease-in-out forwards;
      animation-delay: 0.075s;
    }
  }
}

.annotationTextMobile {
  position: fixed;
  top: 100%;
  left: var(--m-2);
  z-index: 1;
  max-width: calc(100vw - var(--m-4));
  border: none;
  width: 100vw;
  border-left: 4px solid var(--color-interactive-alert-default);
  transition: opacity 0.2s ease-in-out;

  &:hover,
  &.annotationTextHovered {
    transform: none;
  }
}
