.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  min-height: 130px;
  cursor: pointer;
  border-radius: var(--r-default);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform var(--t-interaction), box-shadow var(--t-interaction);

  &a {
    color: black;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    text-decoration: none;
  }

  &:active {
    transform: translateY(0);
  }
}