.enterpriseFeatureWidget {
  border: 2px solid var(--color-data-purple-secondary);
  border-radius: var(--m-1-5);
  padding: 6px 16px 6px 6px;
  background-color: var(--color-background-depth-2);
  display: flex;
  align-items: stretch;
  gap: var(--m-2);
  margin: var(--m-5) 0 !important;

  @media (--md-scr) {
    margin: var(--m-8) 0 !important;
  }

  .iconWrapper {
    background-color: var(--color-data-purple-secondary);
    border-radius: var(--m-1);
    padding: var(--m-2);
    display: flex;
    align-items: center;

    svg {
      filter: brightness(0) invert(1);
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--m-1);

    @media (--md-scr) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: var(--m-2);
    }
  }
  .textWrapper {
    padding: var(--m-1) 0;

    .title {
      font-size: var(--fs-text-xl);
      color: var(--color-black);
      line-height: 1.3333;
      margin-bottom: var(--m-0-5);
      font-weight: var(--fw-bold);
    }

    .content {
      font-size: 15px;
      color: var(--color-foreground-slightly-muted);
      line-height: 1.6;

      * {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .ctaWrapper {
    display: flex;
    align-items: center;

    a {
      height: auto;
      padding: var(--m-1-5) var(--m-4);
      font-size: var(--fs-text-lg);
      font-weight: var(--fw-bold);
    }
  }
}
