.wrapper {
  display: none;
  @media (--nav) {
    display: block;
  }
  @media (--lg-scr) {
    display: initial;
  }

  max-width: min-content;
}

.styledLink {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 24px;
  text-decoration: none;
  color: var(--color-code);
  max-width: unset;
  @media (--nav) {
    max-width: 250px;
    align-items: flex-start;
  }
  @media (--lg-scr) {
    max-width: none;
  }
  &:hover,
  &:active,
  &:focus {
    color: var(--color-dark-purple);
    background-color: none;
    text-decoration: none;
    button {
        svg {
          transform: "translateX(4px)",
        }
      }
  }
  &.newSubmenuLink {
    transition: color 0.3s, background 0.3s !important;
    color: #0A0A0A;
    &:hover,
    &:active,
    &:focus {
      color: var(--color-dark-purple);
    }
    padding: 8px;
    @media (--nav) {
      
        flex-direction: column;
        align-items: flex-start;
          &:hover,
          &:active,
          &:focus {
            color: #0A0A0A;
            background-color: #FCF9FF;
          }
      }
  }
  &.firstLink {
    padding-bottom: 0px;
    @media (--nav) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding-bottom: 0px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.center {
  align-items: center;
}

.imageItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #f0f2f4;
  overflow: hidden;
  width: 180px;
  min-width: unset;
  box-sizing: unset;
}
.imageBox {
  width: 180px;
  max-width: 180px;
  height: auto;
  flex-shrink: 0;
  align-self: center;
  position: relative;
  @media (--lg-scr) {
    flex-shrink: 1;
  }
}
.imageBox img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.item {
  margin-left: 8px;
  @media (--nav) {
    margin-left: 16px;
    &.newSubmenuItem {
      margin-left: 0; 
    }
  }
  &.imageitemText {
    margin-top: 12px;
    margin-bottom: 12px;
    @media (--nav) {
      min-width: 40%;
      max-width: 50%;
      margin-right: 8px;
    }
  }
}
.itemTitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  @media (--nav) {
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    &.firstNewSubmenuTitle {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 12px;
    }
    &.newSubmenuTitle {
      font-weight: normal;
    }
  }
}
.description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 4px;
  color: var(--color-gray);
  display: none;
  &.newSubmenuDescription {
    color:rgba(0, 0, 0, 0.54);
    line-height: 20px;
  }
  @media (--nav) {
    display: initial;
  }
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  min-width: 35px;
  &.newSubmenuIcon {
  
    column-gap: 10px;
    @media (--nav) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}

.dateText {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--color-gray);
}
.imageTitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  @media (--nav) {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
  }
  margin-top: 0;
}
.paragraph {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: var(--color-dark-purple);
}
.imageItemTitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (--nav) {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
  }
}

.buttonWrapper {
  display: none;
  margin: "8px 0";
  align-self: flex-end;
  @media (--nav) {
    display: block;
  }
}

.learnButton {
  border: none;
  pointer-events: none;
  background-color: transparent;
  justify-content: flex-start;
  color: var(--color-dark-purple);;
  letter-spacing: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.75;
  padding: 0;
  svg {
    transition: all 0.3s ease-in-out; 
    margin-left: 8px;
    margin-right: -4px;
  }

  
  &:hover, &:focus, &:active {
    color: var(--color-light-purple);
      background-color: transparent;
  }
}