.step {
  pointer-events: none;
  &.activeLines {
    pointer-events: auto;
    :global(pre) {
      background-color: rgba(159, 133, 255, 0.25);
      opacity: 1;
    }
  }

  :global(pre) {
    border-radius: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0.4;
  }
  & > div {
    box-shadow: unset;
  }
}
