.guidedSteps {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--m-2);
  margin-bottom: var(--ifm-leading);
}

.instructions {
  position: relative;
  height: max-content;
  display: grid;
  gap: var(--m-1);
}

.instruction {
  padding: var(--m-2) var(--m-1);
  border-left: 4px solid transparent;
  transition: all 0.2s ease-in-out;
  min-height: 100px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid var(--color-tonal-neutral-1);
  scroll-margin: var(--ifm-navbar-height);

  &.active {
    border-left-color: var(--color-dark-purple);
    background-color: var(--color-tonal-neutral-0);
  }
  &:last-child {
    border-bottom: none;
  }

  &:hover {
    border-left-color: var(--color-tonal-neutral-1);
    .instructionLinkCopyButton {
      opacity: 1;
    }
  }

  @media (--md-scr) {
    padding: var(--m-2);
  }
}

.instructionLinkCopyButton {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: transparent;
  position: absolute;
  top: var(--m-1);
  right: -8px;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 52px;
  :global(svg) {
    fill: var(--color-dark-purple);
    stroke: var(--color-dark-purple);
  }
  &.active {
    opacity: 1;
  }
}

.copiedText {
  user-select: none;
  font-size: 12px;
  color: var(--color-dark-purple);
  font-weight: 500;
  animation: fadeIn 0.2s ease-in-out;
  transform: translateX(-25%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.codePanel {
  background-color: var(--color-code);
  position: sticky;
  top: calc(var(--ifm-navbar-height) + var(--m-2));
  border-top-left-radius: var(--r-default);
  border-bottom-left-radius: var(--r-default);

  @media (--md-scr) {
    border-radius: var(--r-default);
  }
}
