.step {
  padding: var(--m-1-5) var(--m-7) var(--m-1-5) var(--m-2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--m-1);
  border: 2px solid var(--color-tonal-neutral-0);
  scroll-margin-top: calc(var(--ifm-navbar-height) + var(--m-1));

  &::after {
    content: "";
    opacity: 0;
    display: block;
    position: absolute;
    right: var(--m-3);
    height: var(--m-2);
    width: var(--m-2);
    margin-top: var(--m-3);
    margin-bottom: var(--m-3);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='11' viewBox='0 0 12 11' fill='none'%3E%3Cpath d='M7.35355 0.646447C7.15829 0.451184 6.84171 0.451184 6.64645 0.646447C6.45118 0.841709 6.45118 1.15829 6.64645 1.35355L10.2929 5H0.5C0.223858 5 0 5.22386 0 5.5C0 5.77614 0.223858 6 0.5 6H10.2929L6.64645 9.64645C6.45118 9.84171 6.45118 10.1583 6.64645 10.3536C6.84171 10.5488 7.15829 10.5488 7.35355 10.3536L11.8536 5.85355C11.9512 5.75592 12 5.62796 12 5.5C12 5.43221 11.9865 5.36756 11.9621 5.30861C11.9377 5.24964 11.9015 5.19439 11.8536 5.14645L7.35355 0.646447Z' fill='%23512FC9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.2s ease-in-out;
  }

  &.active {
    border-color: transparent;
    box-shadow: -5px 0px 0px -2px var(--color-interactive-primary);
    background-color: var(--color-tonal-primary-0);
    &::after {
      opacity: 1;
    }

    &:hover {
      background-color: var(--color-tonal-primary-0);
    }
  }

  &:hover {
    background-color: var(--color-tonal-neutral-0);
    cursor: pointer;
  }
}

.stepSection {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: var(--fw-bold);
  font-size: var(--fs-text-lg);
  margin-block: var(--m-2);

  &:first-of-type {
    margin-top: 0;
  }

  .index {
    padding: 4px 10px;
    background-color: var(--color-tonal-neutral-0);
    border-radius: 50%;
    width: var(--m-4);
    line-height: 1.625;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--m-4);
  }
}

.fileLabel {
  font-size: var(--fs-text-sm);
  color: var(--color-foreground-slightly-muted);
  display: flex;
  align-items: center;
  gap: var(--m-0-5);
  svg {
    width: 16px;
    height: 16px;
    filter: brightness(0);
    opacity: 0.72;
  }
  span {
    line-height: 1;
  }
}
