.wrapper {
  display: none;
  @media (--md-scr) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.ctaWrapper {
  display: flex;
  gap: 16px;
}
.cta {
  display: block;
  font-size: var(--fs-text-md);
  line-height: 1.5;
  font-weight: var(--fw-regular);
  width: auto;
  height: auto !important;
  border-radius: var(--m-0-5);
  padding: var(--m-1) var(--m-2) !important;
  text-decoration: none !important;

  &:hover {
    background-color: #4126a1 !important; /* TODO: replace with var(--color-interactive-primary-hover) after changes are merged */
    border-color: #4126a1 !important;
    color: var(--color-white) !important;
  }

  @media (--nav) {
    padding: var(--m-1-5) var(--m-4) !important;
  }
}
.actionButtonFlex {
  display: none;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  padding: 16px;
  margin-top: 16px;
  border-top: 1px solid #f0f2f4;
}

.styledLink {
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  padding: 0;
  justify-content: center;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  color: var(--color-dark-purple);
}
.flex {
  display: flex;
}
