/* adjust styles for full-width layout pages */

/* set the document to full width */

:global(.theme-layout-main) {
    &.template-full-width {
        :global(main) {
            width: 100%;
            max-width: 100%;
            & > :global(.container) {
                max-width: 100%;
                width: 100%;
                padding-top: 0px !important;
                :global(.theme-doc-markdown) {
                    & > :global(:not(section)) {
                        max-width: 1400px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
        
        :global(aside) {
            display: none !important;
        }

        :global(#docs-navigation) {
            display: block;
        }
    }
}

:global(.theme-layout-main.template-full-width) :global(main) {
  width: 100%;
  max-width: 100%;
}

:global(.theme-layout-main.template-full-width) :global(main) > :global(.container) {
  max-width: 100%;
  width: 100%;
  padding-top: 0px !important;
}

:global(.theme-layout-main.template-full-width) :global(main) > :global(.container) > :global(.theme-doc-markdown) > :global(:not(section)) {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

/* hide the sidebar */

:global(.theme-layout-main.template-full-width) :global(aside) {
  display: none;
}

/* display the top navigation */

:global(.theme-layout-main.template-full-width) :global(#docs-navigation) {
  display: block;
}
