.resources {
  padding-bottom: 5.25rem; /* 84px */
  background-color: var(--color-white);
  max-width: var(--lp-section-max-width);
  margin: 0 auto;

  &.docVariant {
    padding-bottom: var(--m-5);

    @media (--md-scr) {
      padding-bottom: var(--m-8);
    }
  }

  &.narrowBottomPadding {
    padding-bottom: var(--m-2);
    @media (--md-scr) {
      padding-bottom: var(--m-2);
    }
  }
}

.resourcesContainer {
  width: 100%;

  .additionalLinks {
    margin-top: var(--m-2);
    padding: var(--m-2) var(--m-4);
    background-color: var(--color-background-depth-2);
    border-radius: var(--m-1-5);
    display: flex;
    flex-direction: column;

    .additionalLinksTitle {
      margin-right: var(--m-3);
      margin-bottom: 0;
      font-weight: var(--fw-bold);
    }

    .additionalLinksList {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      padding-left: 0;

      & > li {
        padding: 6px 0;
        margin: 0;
        &:last-child {
          padding-bottom: 0;
        }

        & > a {
          display: flex;
          align-items: center;
          color: var(--color-dark-purple);
          font-weight: 500;

          svg {
            margin-right: 6px;
          }
        }
      }
    }

    @media (--md-scr) {
      flex-direction: row;
      align-items: center;

      .additionalLinksList {
        flex-direction: row;
        gap: var(--m-3);

        & > li {
          &:last-child {
            padding-bottom: 6px;
          }
        }
      }
    }
  }
}

.header {
  &.hasTitle {
    margin-bottom: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading));

    &.docVariant {
      margin-bottom: var(--m-3);
    }
  }
}

.secondaryTitle {
  line-height: 1.5;
  font-size: var(--fs-header-4);
  font-weight: var(--fw-bold);

  @media (--md-scr) {
    font-size: var(--fs-header-3);
  }
}

.resourcesTitle {
  font-size: var(--fs-header-1);
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5;

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }

  &.docVariant {
    font-size: var(--fs-header-4);

    @media (--md-scr) {
      font-size: 1.375rem; /* 22px */
    }

    @media (--lg-scr) {
      font-size: var(--fs-header-3);
    }
  }

  &.hasSecondaryTitle {
    margin-bottom: var(--m-4);

    @media (--md-scr) {
      margin-bottom: var(--m-6);
    }
  }
}

.description {
  color: var(--color-foreground-slightly-muted);
  font-size: var(--fs-text-lg);
  line-height: 1.625;
  margin-bottom: 0;
  font-weight: var(--fw-medium);

  @media (--md-scr) {
    line-height: 1.75;
  }

  @media (--lg-scr) {
    font-size: var(--fs-text-xl);
    line-height: 1.66667;
  }
}

.resourcesGrid {
  --desktop-column-count: 4;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--m-2);

  @media (--md-scr) {
    grid-template-columns: repeat(
      min(2, var(--desktop-column-count)),
      minmax(0, 1fr)
    );
  }

  @media (--lg-scr) {
    grid-template-columns: repeat(
      min(3, var(--desktop-column-count)),
      minmax(0, 1fr)
    );
  }

  @media (--xl-scr) {
    grid-template-columns: repeat(var(--desktop-column-count), minmax(0, 1fr));
  }
}

.iconSvg {
  height: 72px;
  width: max-content;
  margin-bottom: var(--m-4);
  @media (--sm-scr) {
    height: 48px;
    margin-bottom: var(--m-3);
  }

  &.docVariant {
    width: 40px !important;
    height: 40px !important;
    margin-bottom: var(--m-1) !important;
  }
  &.small {
    width: 48px !important;
    height: 48px !important;
    margin-bottom: var(--m-2) !important;
  }
}

.resourceItem {
  padding: var(--m-3);
  position: relative;
  border-radius: 12px;
  border: 1.5px solid var(--color-tonal-neutral-0);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  flex-direction: column;

  svg {
    color: initial;
  }
}

.editionTag {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--m-0-5) var(--m-1-5);
  color: var(--color-black);
  background-color: var(--color-tonal-neutral-0);
  font-size: var(--fs-text-sm);
  border-radius: 0 12px 0 8px;
}

a.resourceItem {
  &:hover {
    background: var(--color-white);
    cursor: pointer;
    box-shadow: var(--lp-box-shadow);
    text-decoration: none;
    .resourceTitle {
      color: var(--color-dark-purple);
    }
  }
}

.resourceTitle {
  font-size: var(--fs-header-4);
  font-weight: var(--fw-bold);
  color: var(--color-text);
  margin: 0 0 var(--m-0-5) 0;
  font-family: var(--font-base);
  line-height: 1.5;
  text-decoration: none;
  display: block;
  transition: color 0.2s ease-in-out;

  @media (max-width: 576px) {
    font-size: 1rem;
  }

  a {
    color: var(--color-black);
    position: relative;
    display: inline-flex;
    text-decoration: inherit;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.0303%201.19233C10.7374%200.899433%2010.2626%200.899433%209.96967%201.19233C9.67678%201.48522%209.67678%201.96009%209.96967%202.25299L15.4393%207.72266H0.75C0.335786%207.72266%200%208.05844%200%208.47266C0%208.88687%200.335786%209.22266%200.75%209.22266H15.4393L9.96967%2014.6923C9.67678%2014.9852%209.67678%2015.4601%209.96967%2015.753C10.2626%2016.0459%2010.7374%2016.0459%2011.0303%2015.753L17.7803%209.00299C17.9268%208.85654%2018%208.6646%2018%208.47266C18%208.37096%2017.9798%208.274%2017.9431%208.18557C17.9065%208.09711%2017.8522%208.01423%2017.7803%207.94233L11.0303%201.19233Z%22%20fill%3D%22%23512FC9%22%2F%3E%3C%2Fsvg%3E");
      width: 18px;
      height: 15px;
      right: -29px;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);
      transition: opacity 0.15s ease-in-out;
    }
    &:hover {
      color: var(--color-dark-purple);
      &::after {
        opacity: 1;
      }
    }
  }

  &.smallSize {
    font-size: var(--fs-text-lg);
    color: var(--color-foreground-slightly-muted);

    @media (--md-scr) {
      font-size: var(--fs-text-xl);
    }
  }
}

.resourceDescription {
  font-size: var(--fs-text-lg);
  color: var(--color-foreground-slightly-muted);
  margin: 0;
  line-height: 1.625;

  &.docVariant {
    @media (--md-scr) {
      line-height: 1.75;
    }

    @media (--lg-scr) {
      font-size: var(--fs-text-xl);
      line-height: 1.66667;
    }
  }
}

.tags {
  display: flex;
  gap: var(--m-1);
  flex-wrap: wrap;
  list-style: none;
  padding: 0 !important;
  align-items: center;
  margin-top: var(--m-2);
}

.tagIcon {
  width: var(--m-3);
  height: var(--m-3);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagArrow {
  width: var(--m-2);
  height: var(--m-2);
}

.tag {
  background-color: var(--color-white);
  border: 1px solid var(--color-tonal-neutral-0);
  border-radius: var(--m-1);
  padding: var(--m-1) var(--m-2);
  font-size: var(--fs-text-md);
  display: flex;
  align-items: center;
  gap: var(--m-1);
  color: var(--color-black);
  text-decoration: none;
  font-weight: var(--fw-regular);
  position: relative;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--color-black);
    text-decoration: none;
    box-shadow: var(--lp-box-shadow-hover-tag);
  }

  @media (--md-scr) {
    font-size: var(--fs-text-lg);
  }
}

.resourceLinks {
  list-style: none;
  padding-left: 0;
  margin-top: var(--m-2);

  .resourceLink {
    position: relative;
    display: inline-flex;
    text-decoration: inherit;
    align-items: center;

    span {
      position: relative;
      display: flex;
      align-items: center;
      width: 12px;
      height: 10px;
      margin-right: var(--m-1);
      &::after {
        content: "";
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2210%22%20viewBox%3D%220%200%2012%2010%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M7.35355%200.146447C7.15829%20-0.0488155%206.84171%20-0.0488155%206.64645%200.146447C6.45118%200.341709%206.45118%200.658291%206.64645%200.853553L10.2929%204.5H0.5C0.223858%204.5%200%204.72386%200%205C0%205.27614%200.223858%205.5%200.5%205.5H10.2929L6.64645%209.14645C6.45118%209.34171%206.45118%209.65829%206.64645%209.85355C6.84171%2010.0488%207.15829%2010.0488%207.35355%209.85355L11.8536%205.35355C11.9512%205.25592%2012%205.12796%2012%205C12%204.93221%2011.9865%204.86756%2011.9621%204.80861C11.9377%204.74964%2011.9015%204.69439%2011.8536%204.64645L7.35355%200.146447Z%22%20fill%3D%22%23512FC9%22%2F%3E%3C%2Fsvg%3E");
        width: 12px;
        height: 10px;
      }
    }

    &:hover {
      color: var(--color-dark-purple);

      span {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
