.details {
  color: var(--color-black);
  box-shadow: unset;
  border-radius: var(--m-1);
  padding: 0;
  border: 1px solid var(--color-tonal-neutral-1);
  background-color: var(--color-background-depth-2);
  margin-bottom: var(--m-1);

  summary {
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--m-1-5) var(--m-2) var(--m-1-5) 56px;
    background-color: var(--color-background-depth-3);
    border-bottom: unset;
    font-weight: var(--fw-bold);
    border-radius: var(--m-1) var(--m-1) 0 0;
    &::before {
      width: 24px;
      height: 24px;
      margin-right: var(--m-1-5);
      border: unset;
      left: var(--m-2);
      top: 50%;
      transform: translateY(-50%) !important;
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image var(--t-fast) ease-in-out;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M6.5 0.5C6.5 0.223858 6.27614 0 6 0C5.72386 0 5.5 0.223858 5.5 0.5V5.5H0.5C0.223858 5.5 0 5.72386 0 6C0 6.27614 0.223858 6.5 0.5 6.5H5.5V11.5C5.5 11.7761 5.72386 12 6 12C6.27614 12 6.5 11.7761 6.5 11.5V6.5H11.5C11.7761 6.5 12 6.27614 12 6C12 5.72386 11.7761 5.5 11.5 5.5H6.5V0.5Z" fill="black" fill-opacity="0.54"/></svg>');
    }
  }

  & > div {
    & > div {
      margin: 0;
      padding: var(--m-2);
      border-top: 1px solid var(--color-tonal-neutral-1);
    }
  }

  &[data-collapsed="false"] {
    summary {
      &::before {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 8C2 7.72386 2.22386 7.5 2.5 7.5H13.5C13.7761 7.5 14 7.72386 14 8C14 8.27614 13.7761 8.5 13.5 8.5H2.5C2.22386 8.5 2 8.27614 2 8Z" fill="black" fill-opacity="0.54"/></svg>');
      }
    }
  }

  a {
    color: var(--color-dark-purple);
  }
}
