.feedbackForm {
    z-index: 10;
    position: relative;
    padding: 1rem 0;
  }
  
  .svgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .feedbackTitle {
    font-size: 1.25rem; /* Slightly larger font size */
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--color-darkest);
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .feedbackButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .feedbackMessage {
    margin-top: 1rem;
    color: green;
  }