name: Test
on:
  pull_request:
  merge_group:

jobs:
  run-tests:
    name: Run tests
    if: ${{ github.event_name != 'merge_group' }}
    runs-on: ubuntu-22.04-2core-arm64
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: 'yarn'
      - name: Install deps
        run: yarn && yarn playwright install --with-deps
      - name: Run unit tests
        run: yarn test
      - name: Build Storybook
        run: yarn storybook:build
      - name: Run Storybook tests
        run: yarn storybook:test-ci
        # Changes to server code can break the formatting linter by mistake, so run it to
        # make sure this hasn't happened.
      - name: Run the docs formatting linter
        run: scripts/lint-test.sh
      - name: Check source formatting
        run: npx prettier --check
